<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_arrest_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{402,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,473}}</string>
                <key>sourceSize</key>
                <string>{402,473}</string>
            </dict>
            <key>boss_arrest_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1887},{238,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,144}}</string>
                <key>sourceSize</key>
                <string>{238,144}</string>
            </dict>
            <key>boss_beer.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1028},{282,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,243}}</string>
                <key>sourceSize</key>
                <string>{282,243}</string>
            </dict>
            <key>boss_beer_gai.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2000},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>boss_big_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2000},{74,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,41}}</string>
                <key>sourceSize</key>
                <string>{74,41}</string>
            </dict>
            <key>boss_big_passed_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1155},{90,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,59}}</string>
                <key>sourceSize</key>
                <string>{90,59}</string>
            </dict>
            <key>boss_big_passed_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1094},{90,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,59}}</string>
                <key>sourceSize</key>
                <string>{90,59}</string>
            </dict>
            <key>boss_big_passed_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1033},{90,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,59}}</string>
                <key>sourceSize</key>
                <string>{90,59}</string>
            </dict>
            <key>boss_big_passed_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,972},{90,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,59}}</string>
                <key>sourceSize</key>
                <string>{90,59}</string>
            </dict>
            <key>boss_big_passed_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,911},{90,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,59}}</string>
                <key>sourceSize</key>
                <string>{90,59}</string>
            </dict>
            <key>boss_big_passed_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,850},{90,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,59}}</string>
                <key>sourceSize</key>
                <string>{90,59}</string>
            </dict>
            <key>boss_big_passed_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1155},{90,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,59}}</string>
                <key>sourceSize</key>
                <string>{90,59}</string>
            </dict>
            <key>boss_buttom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1024,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,491}}</string>
                <key>sourceSize</key>
                <string>{1024,491}</string>
            </dict>
            <key>boss_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1381},{189,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,62}}</string>
                <key>sourceSize</key>
                <string>{189,62}</string>
            </dict>
            <key>boss_change_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1445},{175,175}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{241,183}</string>
            </dict>
            <key>boss_change_bg_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1393},{175,175}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{241,183}</string>
            </dict>
            <key>boss_change_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1317},{189,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,62}}</string>
                <key>sourceSize</key>
                <string>{189,62}</string>
            </dict>
            <key>boss_change_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1273},{189,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,62}}</string>
                <key>sourceSize</key>
                <string>{189,62}</string>
            </dict>
            <key>boss_change_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1333},{217,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,58}}</string>
                <key>sourceSize</key>
                <string>{217,58}</string>
            </dict>
            <key>boss_change_o_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1273},{217,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,58}}</string>
                <key>sourceSize</key>
                <string>{217,58}</string>
            </dict>
            <key>boss_change_o_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1264},{217,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,58}}</string>
                <key>sourceSize</key>
                <string>{217,58}</string>
            </dict>
            <key>boss_cur_pos.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,625},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>boss_level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,992},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>boss_level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,939},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>boss_level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,886},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>boss_level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,833},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>boss_maobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1887},{263,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,111}}</string>
                <key>sourceSize</key>
                <string>{263,111}</string>
            </dict>
            <key>boss_map_roll.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{135,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,467}}</string>
                <key>sourceSize</key>
                <string>{135,467}</string>
            </dict>
            <key>boss_mission_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,182}}</string>
                <key>sourceSize</key>
                <string>{502,182}</string>
            </dict>
            <key>boss_my_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,727},{90,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,121}}</string>
                <key>sourceSize</key>
                <string>{90,121}</string>
            </dict>
            <key>boss_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,660},{171,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,32}}</string>
                <key>sourceSize</key>
                <string>{171,32}</string>
            </dict>
            <key>boss_rop.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1028},{218,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,234}}</string>
                <key>sourceSize</key>
                <string>{218,234}</string>
            </dict>
            <key>boss_small_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,590},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>boss_small_passed_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1045},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boss_small_passed_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2000},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boss_small_passed_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2000},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boss_small_passed_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2000},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boss_small_passed_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2000},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boss_small_passed_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1045},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boss_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{1024,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,300}}</string>
                <key>sourceSize</key>
                <string>{1024,300}</string>
            </dict>
            <key>boss_top_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{357,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{357,65}}</string>
                <key>sourceSize</key>
                <string>{361,69}</string>
            </dict>
            <key>boss_top_kuang_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{357,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{357,65}}</string>
                <key>sourceSize</key>
                <string>{361,69}</string>
            </dict>
            <key>boss_xiaohao.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1089},{226,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,55}}</string>
                <key>sourceSize</key>
                <string>{226,55}</string>
            </dict>
            <key>boss_xiaohao_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,861},{226,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,55}}</string>
                <key>sourceSize</key>
                <string>{226,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossChange.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a99ccea3b6ce1bf725e6efa9a9270c91$</string>
            <key>textureFileName</key>
            <string>bossChange.png</string>
        </dict>
    </dict>
</plist>
