<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bs_jiantou_weizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,326},{46,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{46,33}</string>
            </dict>
            <key>bs_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>fontbgwf.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,360},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>kuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,236}}</string>
                <key>sourceSize</key>
                <string>{238,238}</string>
            </dict>
            <key>kuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,326},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>kuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,240},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>noyasuo.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f91821f4f7b7d54d33f38f72ee7f82e$</string>
            <key>textureFileName</key>
            <string>noyasuo.png</string>
        </dict>
    </dict>
</plist>
