<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,62},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>Match_henyihan.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,325},{372,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,362}}</string>
                <key>sourceSize</key>
                <string>{372,362}</string>
            </dict>
            <key>allcatch.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,528},{294,280}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{294,280}}</string>
                <key>sourceSize</key>
                <string>{296,284}</string>
            </dict>
            <key>bfishbgguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1024},{223,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,223}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>bfishfont0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1316},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>bfishfont0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1304},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>bfishfont1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1316},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>bfishfont10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,295},{231,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,100}}</string>
                <key>sourceSize</key>
                <string>{231,100}</string>
            </dict>
            <key>bfishfont2.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1304},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>bfishfont2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1373},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>bfishfont2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1373},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>bfishfont3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1302},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>bfishfont5.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{321,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,342}}</string>
                <key>sourceSize</key>
                <string>{321,342}</string>
            </dict>
            <key>bfishfont8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1316},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>bfishfont8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1373},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>bfishfont9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1231},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>bfishfontwf.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,62},{231,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,100}}</string>
                <key>sourceSize</key>
                <string>{231,100}</string>
            </dict>
            <key>bfishstar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{293,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,185}}</string>
                <key>sourceSize</key>
                <string>{293,185}</string>
            </dict>
            <key>bs_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1160},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>bs_txfont.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,441},{177,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,74}}</string>
                <key>sourceSize</key>
                <string>{177,74}</string>
            </dict>
            <key>gosencefont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{663,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,58}}</string>
                <key>sourceSize</key>
                <string>{663,58}</string>
            </dict>
            <key>guanchoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,824},{256,49}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{256,49}}</string>
                <key>sourceSize</key>
                <string>{258,103}</string>
            </dict>
            <key>guangongxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,960},{325,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,198}}</string>
                <key>sourceSize</key>
                <string>{325,198}</string>
            </dict>
            <key>guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1160},{163,163}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{163,163}}</string>
                <key>sourceSize</key>
                <string>{189,189}</string>
            </dict>
            <key>lingjiang_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1015},{287,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{287,76}}</string>
                <key>sourceSize</key>
                <string>{291,80}</string>
            </dict>
            <key>maohaowf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{8,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,19}}</string>
                <key>sourceSize</key>
                <string>{8,19}</string>
            </dict>
            <key>mianfeifont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{331,59}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{331,59}}</string>
                <key>sourceSize</key>
                <string>{335,63}</string>
            </dict>
            <key>rewardbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{377,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,518}}</string>
                <key>sourceSize</key>
                <string>{377,518}</string>
            </dict>
            <key>tishiwf.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,875},{246,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,147}}</string>
                <key>sourceSize</key>
                <string>{246,147}</string>
            </dict>
            <key>yuchao.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,689},{324,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{324,63}}</string>
                <key>sourceSize</key>
                <string>{338,101}</string>
            </dict>
            <key>zaixianlj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{269,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,335}}</string>
                <key>sourceSize</key>
                <string>{269,335}</string>
            </dict>
            <key>zaixianlj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,689},{269,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,334}}</string>
                <key>sourceSize</key>
                <string>{269,334}</string>
            </dict>
            <key>zaixianlj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{269,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,334}}</string>
                <key>sourceSize</key>
                <string>{269,334}</string>
            </dict>
            <key>zp1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1429},{183,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,68}}</string>
                <key>sourceSize</key>
                <string>{183,68}</string>
            </dict>
            <key>zp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1231},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>zp2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1231},{146,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,55}}</string>
                <key>sourceSize</key>
                <string>{146,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f7a9cad3da2c2608e70362e965dc9df$</string>
            <key>textureFileName</key>
            <string>gameScene3.png</string>
        </dict>
    </dict>
</plist>
