<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bosszuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,63},{42,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,47}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,517},{27,91}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,91}}</string>
                <key>sourceSize</key>
                <string>{27,97}</string>
            </dict>
            <key>bullet_11wf.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,164},{27,91}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,91}}</string>
                <key>sourceSize</key>
                <string>{27,97}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,199},{46,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,90}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>bullet_22wf.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,107},{46,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,90}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,621},{65,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,90}}</string>
                <key>sourceSize</key>
                <string>{65,90}</string>
            </dict>
            <key>bullet_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,609},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>bullet_333wf.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,552},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>bullet_33wf.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,665},{65,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,90}}</string>
                <key>sourceSize</key>
                <string>{65,90}</string>
            </dict>
            <key>bullet_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,596},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>bullet_344wf.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,540},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>fanweipaoone.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,352},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>fanweipaoonebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,56},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>fanweipaothree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,168}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>fanweipaotwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,63},{142,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,137}}</string>
                <key>sourceSize</key>
                <string>{142,137}</string>
            </dict>
            <key>free.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,450},{101,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,88}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>jiguangone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{58,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,123}}</string>
                <key>sourceSize</key>
                <string>{58,123}</string>
            </dict>
            <key>jiguangonebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,184},{127,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,63}}</string>
                <key>sourceSize</key>
                <string>{127,63}</string>
            </dict>
            <key>jiguangthree.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,101},{81,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,142}}</string>
                <key>sourceSize</key>
                <string>{81,142}</string>
            </dict>
            <key>jiguangthreebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{163,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,52}}</string>
                <key>sourceSize</key>
                <string>{163,52}</string>
            </dict>
            <key>jiguangtwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,202},{115,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,125}}</string>
                <key>sourceSize</key>
                <string>{115,125}</string>
            </dict>
            <key>jiguangtwobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{129,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,83}}</string>
                <key>sourceSize</key>
                <string>{129,83}</string>
            </dict>
            <key>net2wf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>net_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>net_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,372},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>net_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,411},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>paofive.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,517},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>paofivebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,66}}</string>
                <key>sourceSize</key>
                <string>{137,66}</string>
            </dict>
            <key>paofivefenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,291},{83,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,34}}</string>
                <key>sourceSize</key>
                <string>{83,34}</string>
            </dict>
            <key>paofour.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{96,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,73}}</string>
                <key>sourceSize</key>
                <string>{96,73}</string>
            </dict>
            <key>paofourbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,311},{121,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,59}}</string>
                <key>sourceSize</key>
                <string>{121,59}</string>
            </dict>
            <key>paofourfenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,257},{89,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,32}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>paoone.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,610},{42,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{42,64}</string>
            </dict>
            <key>paoonebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,249},{124,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,60}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
            <key>paoonejia.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,530},{82,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{82,43}</string>
            </dict>
            <key>paoonejian.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,446},{82,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{82,43}</string>
            </dict>
            <key>paoongfenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,319},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>paosix.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,327},{102,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>paosixbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{152,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{152,59}}</string>
                <key>sourceSize</key>
                <string>{154,59}</string>
            </dict>
            <key>paosixfenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,348},{96,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,37}}</string>
                <key>sourceSize</key>
                <string>{96,37}</string>
            </dict>
            <key>paothree.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,478},{98,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,72}}</string>
                <key>sourceSize</key>
                <string>{98,72}</string>
            </dict>
            <key>paotwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,676},{75,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,72}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commons2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddf0cb0d6328e9ddad0811702262d8a1$</string>
            <key>textureFileName</key>
            <string>commons2.png</string>
        </dict>
    </dict>
</plist>
