<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HB_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{66,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,87}}</string>
                <key>sourceSize</key>
                <string>{66,87}</string>
            </dict>
            <key>HB_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,774},{336,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,416}}</string>
                <key>sourceSize</key>
                <string>{336,416}</string>
            </dict>
            <key>HB_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,2},{336,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,416}}</string>
                <key>sourceSize</key>
                <string>{336,416}</string>
            </dict>
            <key>HB_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,796},{143,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,59}}</string>
                <key>sourceSize</key>
                <string>{143,59}</string>
            </dict>
            <key>HB_huode.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,752},{196,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,37}}</string>
                <key>sourceSize</key>
                <string>{196,37}</string>
            </dict>
            <key>HB_paodeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,597},{341,175}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{341,175}}</string>
                <key>sourceSize</key>
                <string>{347,181}</string>
            </dict>
            <key>HB_paodeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,420},{341,175}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{341,175}}</string>
                <key>sourceSize</key>
                <string>{347,181}</string>
            </dict>
            <key>HB_qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{237,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,97}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>HB_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,712},{237,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,97}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>HB_timek.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{57,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,21}}</string>
                <key>sourceSize</key>
                <string>{57,21}</string>
            </dict>
            <key>HB_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{109,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,12}}</string>
                <key>sourceSize</key>
                <string>{109,12}</string>
            </dict>
            <key>HB_xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,796},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>MP_paomadeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{679,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{679,405}}</string>
                <key>sourceSize</key>
                <string>{679,405}</string>
            </dict>
            <key>XR_heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,524},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,270}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>XR_huidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1924},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>XR_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,409},{573,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,31}}</string>
                <key>sourceSize</key>
                <string>{573,31}</string>
            </dict>
            <key>XR_suiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,547},{74,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,52}}</string>
                <key>sourceSize</key>
                <string>{74,52}</string>
            </dict>
            <key>XR_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2002},{315,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,33}}</string>
                <key>sourceSize</key>
                <string>{315,33}</string>
            </dict>
            <key>XR_txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1670},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>XR_yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,755},{187,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,185}}</string>
                <key>sourceSize</key>
                <string>{187,185}</string>
            </dict>
            <key>bs_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,796},{154,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,143}}</string>
                <key>sourceSize</key>
                <string>{154,143}</string>
            </dict>
            <key>bs_baoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,752},{144,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,68}}</string>
                <key>sourceSize</key>
                <string>{144,68}</string>
            </dict>
            <key>dengluBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,512},{542,152}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{542,152}}</string>
                <key>sourceSize</key>
                <string>{598,152}</string>
            </dict>
            <key>denglu_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1464},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>denglu_guang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,755},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{186,186}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>game_begin_bs.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1930},{204,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,92}}</string>
                <key>sourceSize</key>
                <string>{204,92}</string>
            </dict>
            <key>game_begin_dj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,748},{203,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,91}}</string>
                <key>sourceSize</key>
                <string>{203,91}</string>
            </dict>
            <key>hall_bolang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,293}}</string>
                <key>sourceSize</key>
                <string>{1024,293}</string>
            </dict>
            <key>hall_cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,623},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>hall_jiaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{1024,225}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{1024,225}}</string>
                <key>sourceSize</key>
                <string>{1024,237}</string>
            </dict>
            <key>kuang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1930},{109,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,106}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>match_bg_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{476,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,476}}</string>
                <key>sourceSize</key>
                <string>{476,476}</string>
            </dict>
            <key>match_diren_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,935},{178,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,74}}</string>
                <key>sourceSize</key>
                <string>{178,74}</string>
            </dict>
            <key>match_diren_mzk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1902},{122,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,33}}</string>
                <key>sourceSize</key>
                <string>{122,33}</string>
            </dict>
            <key>match_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,898},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>match_mc_heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1902},{120,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,31}}</string>
                <key>sourceSize</key>
                <string>{120,31}</string>
            </dict>
            <key>match_mc_tiao.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{122,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,330}}</string>
                <key>sourceSize</key>
                <string>{122,330}</string>
            </dict>
            <key>match_player_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1972},{178,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,74}}</string>
                <key>sourceSize</key>
                <string>{178,74}</string>
            </dict>
            <key>match_ppds.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1670},{286,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{286,76}}</string>
                <key>sourceSize</key>
                <string>{290,80}</string>
            </dict>
            <key>match_renshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1670},{301,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,19}}</string>
                <key>sourceSize</key>
                <string>{301,19}</string>
            </dict>
            <key>match_tx_heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,951},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>match_tx_tiao.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1028,442},{68,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,544}}</string>
                <key>sourceSize</key>
                <string>{68,544}</string>
            </dict>
            <key>match_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,442},{311,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,27}}</string>
                <key>sourceSize</key>
                <string>{311,27}</string>
            </dict>
            <key>sale_buff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1450},{207,178}}</string>
                <key>offset</key>
                <string>{-16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{207,178}}</string>
                <key>sourceSize</key>
                <string>{239,226}</string>
            </dict>
            <key>sale_buff_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,951},{233,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{233,226}}</string>
                <key>sourceSize</key>
                <string>{239,226}</string>
            </dict>
            <key>sale_buff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,755},{207,178}}</string>
                <key>offset</key>
                <string>{-16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{207,178}}</string>
                <key>sourceSize</key>
                <string>{239,226}</string>
            </dict>
            <key>sale_buff_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,524},{233,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{233,226}}</string>
                <key>sourceSize</key>
                <string>{239,226}</string>
            </dict>
            <key>sale_buff_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1464},{207,178}}</string>
                <key>offset</key>
                <string>{-16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{207,178}}</string>
                <key>sourceSize</key>
                <string>{239,226}</string>
            </dict>
            <key>sale_buff_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,524},{233,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{233,226}}</string>
                <key>sourceSize</key>
                <string>{239,226}</string>
            </dict>
            <key>sale_buff_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1192},{464,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{464,111}}</string>
                <key>sourceSize</key>
                <string>{470,145}</string>
            </dict>
            <key>tou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1658},{245,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,270}}</string>
                <key>sourceSize</key>
                <string>{245,270}</string>
            </dict>
            <key>tou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,951},{234,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,263}}</string>
                <key>sourceSize</key>
                <string>{234,263}</string>
            </dict>
            <key>tou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1652},{210,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,270}}</string>
                <key>sourceSize</key>
                <string>{210,270}</string>
            </dict>
            <key>tou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,524},{213,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,228}}</string>
                <key>sourceSize</key>
                <string>{213,228}</string>
            </dict>
            <key>tou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1192},{224,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,270}}</string>
                <key>sourceSize</key>
                <string>{224,270}</string>
            </dict>
            <key>tou6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{194,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,266}}</string>
                <key>sourceSize</key>
                <string>{194,266}</string>
            </dict>
            <key>tou7.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,943},{200,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,247}}</string>
                <key>sourceSize</key>
                <string>{200,247}</string>
            </dict>
            <key>tou8.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,951},{233,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,252}}</string>
                <key>sourceSize</key>
                <string>{233,252}</string>
            </dict>
            <key>wave_frame_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1708},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wave_frame_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1708},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wave_frame_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,1450},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wave_frame_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1271},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wave_frame_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,1192},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wave_frame_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1013},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wave_frame_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,755},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wave_frame_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1192},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wave_frame_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1644},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wave_frame_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1192},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zpdh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,953},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zpdh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,666},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zpdh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,666},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zpdh4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,666},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zpdh5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,666},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zpdh6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,666},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zpdh7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,666},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zpdh8.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1958},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zpdh_g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,611},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>zpdh_g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,510},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>zpdh_g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,409},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameHall1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42cec813ce0741a560c110f4ee758454$</string>
            <key>textureFileName</key>
            <string>gameHall1.png</string>
        </dict>
    </dict>
</plist>
